# Compiled class file
*.class

# Log file
*.log

# Jetbrains
.idea
.out/

# Gradle
.gradle
build/
*/build/

# Kotlin
.kotlin/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# iOS / Xcode
iosApp/DerivedData/
**/xcuserdata/
iosApp/*.xcuserdata/
iosApp/*.xcworkspace/xcuserdata/
iosApp/build/
iosApp/.build/
iosApp/Pods/

# Apple Specific
.DS_Store
